# Global-terrorism-EDA-project
coded and analysed by **@Aryaroop Majumder**
### Problem Statement

**Global terrorism** is described as the activities involving violence and crime with the intention to promote religious or political ideologies across the world. Global terrorism mainly consists of violence, threats and intimidation for pressurizing the government, International group or community in general.
Global Terrorism is a serious threat to the international community. Including, western individuals travelling or living abroad overseas and a substantial threat to indigenous individuals located near, or within unstable regions or areas of terrorist activity.

Globally, every region has recorded a higher average impact of terrorism in recent years than the early 2000s. The increase in the impact of terrorism was greatest felt in the _Middle East and North Africa, followed by sub-Saharan Africa._

There is considered to be a heightened threat of terrorist attack globally, especially against western interests and nationals from groups, or individuals motivated by the recent conflicts in these areas.
### What this project requires me to do

As a security/defense analyst, I will try to do the following:- 

- Exploratory data analysis
- Try to find out the hot zone of terrorism. 
- Handle the missing value 
- Do compare the various region…. visualize it and showing it on global map would be better to understand.

### What this project requires me to do

As a security/defense analyst, I will try to do the following:- 

- Exploratory data analysis
- Try to find out the hot zone of terrorism. 
- Handle the missing value 
- Do compare the various region…. visualize it and showing it on global map would be better to understand.

### Attribute Information

- **eventid** - A 12-digit Event ID system. First 8 numbers – date recorded -“yyyymmdd”. Last 4 numbers 
- **iyear** - The feild contains the year in which the incident occured
- **imonth** - This field contains the number of the month in which the incident occurred.
- **iday** - This field contains the numeric day of the month on which the incident occurred
- **extended** - 1 = "Yes" The duration of an incident extended more than 24 hours. 0 = "No" The duration of an incident extended less
- **country** - This field identifies the country code
- **country_txt** - This field identifies the country or location where the incident occurred.
- **region** - This field identifies the region code based on 12 regions
- **region_text** - This field identifies the region in which the incident occurred.
- **provstate** - Name (at the time of event) of the 1st order subnational administrative region
- **city** - Name of the city, village, or town in which the incident occurred
- **latitude** - The latitude of the city in which the event occurred.
- **longitude** - The longitude of the city in which the event occurred.
- **success** - Success of a terrorist strike
- **suicide** - 1 = "Yes" The incident was a suicide attack. 0 = "No" There is no indication that the incident was a suicide
- **attacktype1** - The general method of attack
- **attacktype1_txt** - The general method of attack and broad class of tactics used.
- **targettype1** - Type of target
- **targettype1_txt** - The general type of target/victim
- **targsubtype1_txt** - The more specific target category
- **target1** - The specific person, building, installation that was targeted and/or victimized
- **natlty1_txt** - The nationality of the target that was attacked
- **gname** - The name of the group that carried out the attack
- **nperps** - The total number of terrorists participating in the incident
- **weaptype1_txt** - General type of weapon used in the incident
- **weapsubtype1_txt** - More specific value for most of the Weapon Types

In [1]:
#importing the basic libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#importing the dataset using pandas.read_csv command
data = pd.read_csv("./Global Terrorism Data (1).csv", encoding="ISO-8859-1")

In [3]:
data

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN